@tailwind base;
@tailwind components;
@tailwind utilities;


.search-container {
  display: flex;
  margin-bottom: 20px;
  justify-content:space-between;
}

.search-input {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px; /* Adjust the width as needed */
  margin-right: 10px;
  outline: none;
}


.search-button {
  padding: 5px 16px;
  font-size: 14px;
  background-color: #2A2A2A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pdf-buttons {
  padding: 5px 16px;
  margin-top: 5px;
  font-size: 14px;
  background-color: #2A2A2A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pdf-printed-buttons {
  padding: 5px 14px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  background-color: #2A2A2A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.next-btn{
  padding: 5px 14px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  background-color: #2A2A2A;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-button:hover {
  background-color: #D3D3D3;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
